
.wp-block-archives li, 
ul.wp-block-archives {
	list-style: none;
	padding-left:0;
	margin-left:0;
	font-weight:500;
}
.wp-block-categories li {
	list-style: none;
}
.wp-block-categories li.cat-item {
	padding:6px 0px 3px 0px;
}
.wp-block-categories li.cat-item:last-child {
    border-bottom:0px solid #f8f8f8;
	padding-bottom:0px !important;
	margin-bottom:-5px;
} 
.wp-block-categories li.cat-item {
	border-bottom: 2px dotted #efefef;
}

.wp-block-categories .cat-item a {
	text-transform: capitalize;
}
.wp-block-categories li a:before {
    content: "-";
    padding-right: 15px;
    transition: all 500ms ease 0s;
}
.wp-block-categories li a:hover:before {
    transition: all 500ms ease 0s;
}
.wp-block-categories li a {
	font-weight:500;
}

/**/

body#tinymce.wp-editor { 
	color: #4c4b4b;
	font-size: 1.5rem;
	line-height: 1.9;
	font-weight: 400;
	font-family:Roboto;
	background: #f9f9f9;
}

body#tinymce.wp-editor a {
    text-decoration:none;
	cursor:pointer;
	color:#cd2122;	
}
body#tinymce.wp-editor a:hover,
body#tinymce.wp-editor a:focus,
body#tinymce.wp-editor a:visited{
	text-decoration:none;
	outline:none;
}
.wp-block-heading h1,
.wp-block-heading h2,
.wp-block-heading h3,
.wp-block-heading h4,
.wp-block-heading h5,
.wp-block-heading h6,
.editor-styles-wrapper h1, 
.editor-styles-wrapper h2, 
.editor-styles-wrapper h3, 
.editor-styles-wrapper h4, 
.editor-styles-wrapper h5, 
.editor-styles-wrapper h6 {
	font-family: Poppins;
}
body#tinymce.wp-editor h1,
body#tinymce.wp-editor h2,
body#tinymce.wp-editor h3,
body#tinymce.wp-editor h4,
body#tinymce.wp-editor h5,
body#tinymce.wp-editor h6 {
	position:relative;
	font-family: Poppins;
	font-weight:normal;
	margin:0px;
	background:none;
	line-height:1.4em;
}
body#tinymce.wp-editor p{
	position:relative;
}
body#tinymce.wp-editor ul,
body#tinymce.wp-editor ol{
	margin:0px;
	padding:0px;
}
body#tinymce.wp-editor del{
	text-decoration:line-through;
}
body#tinymce.wp-editor strong{
	font-weight:600;
}